<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated memoryhierarchy -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.memoryhierarchy.presentation.MemoryHierarchyModelWizardID"
            name="%_UI_MemoryHierarchyModelWizard_label"
            class="org.palladiosimulator.memoryhierarchy.presentation.MemoryHierarchyModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MemoryHierarchyModelFile.gif">
         <description>%_UI_MemoryHierarchyModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated memoryhierarchy -->
      <editor
            id="org.palladiosimulator.memoryhierarchy.presentation.MemoryHierarchyEditorID"
            name="%_UI_MemoryHierarchyEditor_label"
            icon="icons/full/obj16/MemoryHierarchyModelFile.gif"
            extensions="memoryhierarchy"
            class="org.palladiosimulator.memoryhierarchy.presentation.MemoryHierarchyEditor"
            contributorClass="org.palladiosimulator.memoryhierarchy.presentation.MemoryHierarchyActionBarContributor">
      </editor>
   </extension>

</plugin>
